a{
  color: white;
  text-decoration: none;
}

body{
  padding: 0;
  margin: 0;
  position: relative;
}

#next,#back{
  height: 100vh;
  width: 50%;
  z-index: 1;
  position: fixed;
  right: 0;
}

#next{
    cursor: url('/right.svg');
}

#back{
  cursor: url('/left.svg');
  left: 0;
}


.main-image{
  // margin: auto;
  // margin-top: 5em;
  // height: 80vh;
  // width: 80%;
  // background-image: url("/img_one.png");
  // background-size: cover;
  // background-position-x: right;
  width: 85%;
  margin: auto;
  margin-top: 5em;
  padding-bottom: 0;
    
    h1{
    font-size: 6.3vw;
    position: absolute;
    top: 2em;
    left: 1.5em;
    font-family: rhode-extended, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
    padding-bottom: 0;
  }
    h2{
      position: absolute;
      font-size: 1.5vw;
      font-family: aktiv-grotesk-extended, sans-serif;
      font-weight: 400;
      right: 16%;
      top: 35%;
  
  
    }

    video{
      margin-top: -3em;
      width: 100%;
      height: 110vh;
      z-index: -2;
    }

}

body{
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  font-family: rhode, sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.bottom-bar{
  width: 100%;
  height: 100px;
  display: table;
  
}

.about-bottom{
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  display: table;
  //background-color: black;

  div{
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    text-align: center;

  }

}

.bottom-bar{
  font-size: .75em;
  margin-top: 2em;
  color: #F2E1CC;
}

.top-bar{
  padding: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  font-size: 11px;

  h1{
    position: fixed;
    left: 50%;
    top: 1em;
    font-family: rhode-extended, sans-serif;
    font-weight: 500;
    font-style: normal;
    transform: translate(-50%, 0);
  }

  .about, .contact{
    position: fixed;
    top: 2em;
    z-index: 2;
  }

  .about{
    left: 2em;
  }

  .contact{
    right: 2em;
  }

}

.about{

  display: table-cell;
  vertical-align: middle;
  text-align: left;
  height: 80vh;

  .text-container,img,.about-bottom{
    padding: 4em;
  }

  .left-container{
    display: table-cell;
    vertical-align: middle;
    width: 50%;

    
    .text-container{
      font-size: 20px;
      font-family: aktiv-grotesk-extended, sans-serif;
      font-weight: 400;
      font-size: 1em;

      width: 70%;

      margin-left: 2em;

      p:not(:first-of-type){
        padding-top: 2em;
      }
    }
}

  .about-bottom{
    font-size: 10px;
    font-family: rhode, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;

    p{
     width: 90%; 
    }
    
  }

  .right-container{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    position: relative;

      img{
        height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
  }

}

.slide-two{

  video{
    width: 100vw;
  }
  
  
}

.slide-three{

  .video-wrap{
    width: 70%;
  }

  .left-text,.bottom-text{
    font-size: 1.5vw;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
  }

  .left-text{

    display: block;
    transform: rotate(-90deg);
    position: relative;
    left: -38vw;
    bottom: 0;
    color: #F4E0D0;
  }

  .bottom-text{
    display: table-cell;
    font-size: 1.5vw;
    color: black;
    background: red;
    text-align: right;
  }

  background-image: url("/br2.png");
  //background-color: antiquewhite;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;

  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 120vw;
  height: 100vh;

  video{
    width: 70%;
    display: table-cell;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slide-four{
  width: 100%;
  height: 100%;
  display: table;

  .video-wrap{
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
  }
  video{
    
    width: 35vw;
    margin: 4em;
    
  }
}

#img-loaded{
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 6s;
  translate:  (-20px);
}

@keyframes fadeInImg{
  from{
    opacity: 0; padding-left: 500px;
 
   }
  to{opacity: 1; padding-left: 0px;}
 }

