a{
  color: white;
  text-decoration: none;
}
video{
  visibility: hidden;
}

body{
  padding: 0;
  margin: 0;
  position: relative;
}

#next,#back{
  height: 100vh;
  width: 50%;
  z-index: 1;
  position: fixed;
  right: 0;
}

#next:hover{
  cursor: url('/right.svg'), auto;
}

#back{
  cursor: url('/left.svg'), auto;
  left: 0;
}


.main-image{

  width: 100%;
  height: 100vh;

  .one-wrap{
    width: 85%;
    position: relative;
    margin: auto;
    margin-top: 10em;
  
    .main-logo{
      position: absolute;
      top: 30vh;
      //transform: translateY(-50%);
      width: 100%;
    }

    video{
      width: 100%;
      z-index: -2;
      position: absolute;
      left: 0;
    }


    h1{
    
    text-align: center;
    font-size: 6.3vw;
    top: 30%;
    font-family: rhode-extended, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding-bottom: 0;
    
  }

  h2{
    text-align: right;
    font-size: 1.5vw;
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    margin-right: 10%;
    margin-top: 0;
  }

  }

}

body{
  background-color: black;
  color: white;
  text-align: center;
  position: relative;
  font-family: rhode, sans-serif;
  font-weight: 500;
  font-style: normal;
  
}

.bottom-bar{
  width: 100%;
  height: 100px;
  display: table;
  
}

.about-bottom{
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  left: 0;
  display: table;
  //background-color: black;

  div{
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    text-align: center;

  }

}

.bottom-bar{
  font-size: .75em;
  //margin-top: 2em;
  color: #F2E1CC;
}

.top-bar{
  padding: 3em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  font-size: 11px;

  h1{
    position: fixed;
    left: 50%;
    top: 1em;
    font-family: rhode-extended, sans-serif;
    font-weight: 500;
    font-style: normal;
    transform: translate(-50%, 0);
  }

  #about, #contact{
    position: fixed;
    top: 4em;
    z-index: 2;
  }

  #about{
    left: 5em;
  }

  #contact{
    right: 5em;
  }

}

.about{

  display: table-cell;
  vertical-align: middle;
  text-align: left;
  height: 80vh;

  .text-container,img,.about-bottom{
    padding: 4em;
  }

  .left-container{
    display: table-cell;
    vertical-align: middle;
    width: 50%;

    
    .text-container{
      font-size: 20px;
      font-family: aktiv-grotesk-extended, sans-serif;
      font-weight: 400;
      font-size: 1em;

      width: 70%;

      margin-left: 2em;

      p:not(:first-of-type){
        padding-top: 2em;
      }
    }
}

  .about-bottom{
    font-size: 10px;
    font-family: rhode, sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;

    p{
     width: 90%; 
    }
    
  }

  .right-container{
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    position: relative;

      img{
        height: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
  }

}

.slide-two{


  height: 100vh;
  overflow: hidden;

  video{
    height: 100vh;
    overflow: hidden;
  }

  .left-text{
    font-family: aktiv-grotesk-extended, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
    position: absolute;
    left: 15%;
    bottom: 35%;
    z-index: 1;
  }
  
}

.left-text,.bottom-text,.top-text{
  font-size: 1.5vw;
  font-family: aktiv-grotesk-extended, sans-serif;
  font-weight: 400;
}

.slide-three{


  overflow: hidden;

  .video-wrap{
    width: 70%;
  }

  .left-text{
    display: block;
    transform: rotate(-90deg);
    position: relative;
    left: -38vw;
    bottom: 0;
    color: #F4E0D0;
  }

  .bottom-text{
    position: fixed;
    font-size: 1.5vw;
    color: black;
    bottom: 50%;
    right: 20%;
    transform: translate(0,23vw)
  }

  background-image: url("/br2.png");
  //background-color: antiquewhite;
  background-size: cover;

  position: fixed;
  top: 0;
  left: 0;

  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100vw;
  height: 100vh;

  video{
   // filter: invert(100%) grayscale(100%);
    width: 70%;
    display: table-cell;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slide-four{
  width: 100%;
  height: 100%;
  display: table;

  .video-wrap{
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
  }
  video{
    
    width: 35vw;
    margin: 4em;
    
  }
}

.alt-background{
  background-image: url("/br3.png");

  .top-text{
    color: black;
    display: block;
    position: relative;
    left: 0;
    bottom: -30%;
    z-index: 10;
  }
}

#img-loaded{
  visibility: visible;
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 6s;
  animation-delay: .1s;
  translate:  (-20px);
}

@keyframes fadeInImg{
  from{
    opacity: 0; padding-left: 500px;
 
   }
  to{opacity: 1; padding-left: 0px;}
 }


// NEW ADDITIONS

.inverted{
  video{
    filter: invert(100%);
  }
}

.test{
  margin-top: 10%;
  display: table;
  height: 100%;
  display: flex;

  .left-text{
    width: 30%;
    height: 100%;
    text-align: left;
    margin: 2em;
  }

  .video-wrap{
    display: table;
    width: 40%;
    margin-left: 10%;
  }


  video {
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: table-cell;

}
}

.quote-one{
  filter: invert(110%);

  .left-text{
    width: 50%;
    margin-left: -5em;
  }
}

